<div>
    <select name="" id="">
        <!-- <option value="" disabled>Selecione o idioma</option> -->
        <option value="">Português</option>
        <option value="">Inglês</option>
        <option value="">Espanhol</option>
    </select>
</div>

<br><br><br><br>

<h1>Login</h1>

<form>
    <label for="nome">Usupario ou email</label><br>
    <input name="nome" type="text"><br><br>

    <label for="senha">Senha</label><br>
    <input name="senha" type="password"><br><br>

    <span> <button type="submit">Entrar</button>   ||  <button type="reset">Resetar</button> </span> 
</form>

<br><br><br><br>

<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Favorite food</mat-label>
      <input matInput placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field>
  
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
</form>