<form action="">
  <input type="text" [(ngModel)]="meuExemploTexto">
  <p>select abaixo</p>
  <select [(ngModel)]="meuExemploTexto">
    <option value="1">A</option>
    <option value="2">B</option>
  </select>
  <button type="submit" onClick=""></button>
</form>

<hr>

<h1>Como setar um valor inicial no select com ng-options</h1>

<div>
  <select *ngIf="selected" (change)="onChange($event.target)">
    <option value="1">A</option>
    <option value="2">B</option>
  </select>
</div>


<div>
  <script>
      angular.module('starter', []).controller('testeController', function($scope){
      $scope.bancos = [{id: 1, nome: 'bradesco' , codigo:0237}, {id: 2, nome: itau, codigo: 0235}]
      });
  </script>

  <html ng-app = 'starter' >
    <label class="item item-input item-select"  ng-controller='testeController'>
    
      <div class="input-label">Banco</div>

      <select ng-options="banco as banco.nome for banco in bancos track by banco.id"  ng-model="dadosFinanceiros.banco" required>
        <option value="">Escolha um banco</option>
        <option value="">bradesco</option><!-- só coloquei isso pra selecionar um item para conseguir enviar a pergunta-->
      </select> 

    </label>
  </html>

  <button>Ver valor </button>

</div>

<br><br><br><br>


<div>
    <select name="" id="">
        <!-- <option value="" disabled>Selecione o idioma</option> -->
        <option value="">Português</option>
        <option value="">Inglês</option>
        <option value="">Espanhol</option>
    </select>
</div>


<br><br><br><br>

<h1>Login</h1>

<form>
    <label for="nome">Usupario ou email</label><br>
    <input name="nome" type="text"><br><br>

    <label for="senha">Senha</label><br>
    <input name="senha" type="password"><br><br>

    <span> <button type="submit">Entrar</button>   ||  <button type="reset">Resetar</button> </span> 
</form>

<br><br><br><br>

<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Favorite food</mat-label>
      <input matInput placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field>
  
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
</form>